{
  "branches": ["main"],
  "repositoryUrl": "https://github.com/Actunime/typescript-config",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
